.header {
  background-color: #333;
  color: white;
  padding: 1rem;

    .logo {
      width: 5rem;
      height: 3.5rem;
      cursor: pointer;
    }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-list {
      list-style: none;
      display: flex;
      gap: 1rem;

      .nav-item {
        cursor: pointer;
        transition: color 0.3s;

        &:hover {
          color: gray;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    .navbar {
      justify-content: space-evenly;
    }

    .nav-list {
      flex-direction: column;
      position: absolute;
      background-color: #333333;
      right: 0;
      padding-right: 10%;
      z-index: 9999;
      border-bottom-left-radius: 20px;
      padding-bottom: 1rem;


      .dropdown-icon {
        color: #ffffff;
      }
    }
  }
}


